{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "ignore": [
    "lib/run/client",
    "lib/run/adapters"
  ]
}
